# Discord Bot Configuration
DISCORD_BOT_TOKEN=YourDiscordBotToken
DISCORD_CHANNEL_ID=YourDiscordChannelId

# TVDB API Configuration
TVDB_API_KEY=YourTVDBApiKey

# Tautulli Configuration
TAUTULLI_URL=http://your-tautulli-server:8181
TAUTULLI_API_KEY=YourTautulliApiKey

# Database Configuration
DATABASE_URL=sqlite:///data/followarr.db

# Webhook Server Configuration
WEBHOOK_SERVER_PORT=3000 